.container {
  /* Full screen height */
  height: 100vh;
  background-color: var(--bgcolor-main);
  color: var(--color-text);
}

/* wraps */
.wrap {
  /* margin-top: 25px; */
  margin-bottom: 30px;
  height: calc(100vh - 126px);
}

.heroWrap {
  width: 100%;
  /* height is 70% of 100vh */
  height: 70%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.textWrap {
  display: flex;
  flex-direction: column;
}

.presentationWrap {
  /* height is 30% of 100vh */
  height: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.bottomWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nameWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.scrollWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* texts */
.heroText {
  font-size: 18vh;
  font-weight: 400;
  font-family: var(--font-title);
  letter-spacing: -10px;
  line-height: 80%;
  -webkit-animation: swing-in-left-bck 0.8s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-left-bck 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.heroText:hover {
  font-style: italic;
}

.photo {
  width: 20%;
  height: fit-content;
  position: absolute;
  right: 0;
}

.name {
  font-size: 14vh;
  line-height: 93%;
  font-weight: 500;
  letter-spacing: 3px;
  -webkit-animation: swing-in-right-fwd 0.8s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.7s both;
  animation: swing-in-right-fwd 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    0.7s both;
}

.name:nth-child(2) {
  margin-top: -15px;
}

.paragraph {
  font-size: var(--fs-7);
  font-weight: 600;
  letter-spacing: 5px;
}

.reactP {
  -webkit-animation: tracking-in-contract-bck 0.6s
    cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s both;
  animation: tracking-in-contract-bck 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    1.5s both;
}

.paragraph:nth-child(1) {
  -webkit-animation: tracking-in-contract-bck 0.6s
    cubic-bezier(0.215, 0.61, 0.355, 1) 2s both;
  animation: tracking-in-contract-bck 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    2s both;
}

.arrow {
  width: 2rem;
  height: fit-content;
  margin-bottom: 10px;
  -webkit-animation: bounceTop 1.7s ease-in-out infinite;
  animation: bounceTop 1.7s ease-in-out infinite;
}

/* responsive design */

/* tablet */
@media (max-width: 820px) {
  .container {
    height: fit-content;
    padding-bottom: 2rem;
  }
  .heroText {
    font-size: 4rem;
    letter-spacing: -5px;
  }
  .name {
    font-size: 4rem;
    line-height: 99%;
  }
  .wrap {
    height: 400px;
    margin-bottom: 0;
  }
  .paragraph,
  .bottomWrap {
    font-size: 14px;
  }
  .arrow {
    width: 1rem;
  }
}

@media (max-width: 479px) {
  .container {
    height: 50rem;
  }
  .wrap {
    height: 600px;
    margin-bottom: 0;
  }
  .heroWrap {
    height: 53vh;
    flex-direction: column;
    align-items: center;
  }
  .heroText {
    font-size: 4rem;
    letter-spacing: -4px;
  }
  .nameWrap {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .presentationWrap {
    height: fit-content;
  }
  .name {
    font-size: 2rem;
    line-height: 93%;
    font-weight: 400;
  }
  .paragraph,
  .bottomWrap {
    display: none;
  }
  .photo {
    position: relative;
    width: 22vh;
  }
  .scrollWrap {
    width: 100%;
    align-items: center;
    margin-top: 4rem;
  }
  .arrow {
    width: 1rem;
  }
}

/* animation */

@keyframes bounceTop {
  0%,
  100% {
    transform: translateY(-7px);
  }
  25% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-7px);
  }
  75% {
    transform: translateY(3px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-6 17:25:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-6 17:41:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-left-bck
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-left-bck {
  0% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}
@keyframes swing-in-left-bck {
  0% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-6 17:42:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-right-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-right-fwd {
  0% {
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 1;
  }
}
@keyframes swing-in-right-fwd {
  0% {
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 1;
  }
}
