.container {
  /* Full screen height */
  height: 101vh;
  background-color: var(--bgcolor-main);
  color: var(--color-text);
}

/* wraps */
.wrap {
  /* margin-top: 25px; */
  margin-bottom: 30px;
  height: calc(100vh - 126px);
}

.heroWrap {
  width: 100%;
  /* height is 70% of 100vh */
  height: 70%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.textWrap {
  display: flex;
  flex-direction: column;
}

.presentationWrap {
  /* height is 25% of 100vh */
  height: 25%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.bottomWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nameWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.scrollWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgContainer {
  width: 23%;
  height: 100%;
}

/************* texts *************/
.heroText {
  font-size: var(--fs-title);
  z-index: 999;
  font-weight: 400;
  font-family: var(--font-title);
  letter-spacing: -10px;
  line-height: 80%;
}

/* each wraps of titles */
.textWrap .firstRow,
.textWrap .secondRow {
  position: relative;
  font-size: var(--fs-title);
  z-index: 999;
  font-weight: 400;
  font-family: var(--font-title);
  letter-spacing: -10px;
  line-height: 80%;
}

.nameWrap .nameFirstRow,
.nameWrap .nameSecondRow {
  font-size: var(--fs-title);
  z-index: 9999;
  line-height: 93%;
  font-weight: 500;
  letter-spacing: 3px;
}

/* small texts underneath titles */
.paragraph {
  font-size: var(--fs-7);
  font-weight: 600;
  letter-spacing: 5px;
  z-index: 9999;
}

.arrow {
  width: 2rem;
  height: fit-content;
  margin-bottom: 10px;
  -webkit-animation: bounceTop 1s ease-in-out infinite;
  animation: bounceTop 1s ease-in-out infinite;
}

/************* photo *************/
.photo {
  width: 23%;
  height: fit-content;
  position: absolute;
  right: 0;
}
/* bounce */
@keyframes bounceTop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  0% {
    transform: translateY(0);
  }
}
/********* responsive design *********/

@media (min-width: 2000px) {
  .photo {
    width: 30%;
    height: fit-content;
  }
}

/* small desktop */
@media (max-width: 1300px) {
  .container {
    padding-bottom: 2rem;
  }
  .heroText {
    letter-spacing: -5px;
  }
  .nameFirstRow,
  .nameSecondRow {
    line-height: 110%;
  }
  .wrap {
    margin-bottom: 0;
  }
  .paragraph,
  .bottomWrap {
    font-size: 14px;
  }
  .arrow {
    width: 1rem;
  }
  .photo {
    width: 20%;
  }
}

/* tablet */
@media (max-width: 1000px) {
  .container {
    padding-bottom: 2rem;
  }
  .heroText {
    letter-spacing: -5px;
  }
  .nameFirstRow,
  .nameSecondRow {
    line-height: 99%;
  }
  .wrap {
    margin-bottom: 0;
  }
  .paragraph,
  .bottomWrap {
    font-size: 14px;
  }
  .arrow {
    width: 1rem;
  }
}

@media (max-width: 567px) {
  .container {
    height: 57rem;
  }
  .wrap {
    height: 600px;
    margin-bottom: 0;
  }
  .heroWrap {
    height: 53vh;
    flex-direction: column;
    align-items: center;
  }
  .heroText {
    /* font-size: 4rem; */
    letter-spacing: -4px;
  }
  .nameWrap {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .presentationWrap {
    height: fit-content;
  }

  .paragraph,
  .bottomWrap {
    display: none;
  }
  .photo {
    position: relative;
    width: 22vh;
  }
  .scrollWrap {
    width: 100%;
    align-items: center;
    margin-top: 4rem;
  }
  .arrow {
    width: 1rem;
  }
}
