.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-logo);
  height: 6rem;
}

.desktopNav {
  width: 100%;
  display: flex;
  height: inherit;
  justify-content: flex-end;
}

.logo {
  font-weight: var(--logo-weight);
  letter-spacing: var(--logo-spacing);
  min-width: 10rem;
  height: inherit;
  display: flex;
  align-items: center;
}

.logo,
.nav,
.icon {
  cursor: pointer;
  font-size: var(--fs-4);
}

.nav {
  display: flex;
  gap: 3%;
  align-items: center;
  width: 90%;
  justify-content: flex-end;
}

.iconContainer {
  /* min-width: 40px; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: var(--fs-6);
  height: var(--fs-6);
  margin-bottom: 8px;
}

.responsiveNav,
.openIcon {
  display: none;
}

@media (max-width: 479px) {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* nav bar height */
    height: 6rem;
  }
  .desktopNav {
    display: none;
  }
  .responsiveNav {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(217, 217, 217, 0.9);
    width: 40%;
    height: 100%;
    z-index: 1000;
    animation-name: sideNavOpen;
    animation-duration: 1s;
    animation-direction: alternate;
  }

  .responsiveNav ul {
    height: 100%;
    /* text-align: end;
     */
    align-items: flex-end;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding-right: 1rem;
    /* background-color: red; */
    width: 100%;
  }

  .buttonWrap {
    display: flex;
    justify-content: flex-end;
  }

  .logo {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .iconContainer {
    height: fit-content;
  }

  /* nav - open/close icon */
  .openIcon {
    display: block;
    position: absolute;
    right: 4%;
    top: 1%;
    width: 45px;
    height: 45px;
    transition-duration: 0.5s;
    z-index: 9999;
    transition: 1s;
  }
  .open {
    transition-duration: 0.5s;
    position: absolute;
    height: 3px;
    width: 30px;
    top: 30px;
    background-color: var(--color-text);
    border-radius: 4px;
    left: 15px;
    z-index: 9999;
  }
  .open:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--color-text);
    content: '';
    top: -10px;
    border-radius: 4px;
    z-index: 9999;
  }
  .open:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--color-text);
    content: '';
    top: 10px;
    border-radius: 4px;
    z-index: 9999;
  }

  .sideNav {
    transition-duration: 0.5s;
    position: absolute;
    height: 3px;
    width: 30px;
    top: 30px;
    background: transparent;
    border-radius: 4px;
    left: 15px;
    z-index: 9999;
  }
  .sideNav:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--color-text);
    content: '';
    top: -10px;
    border-radius: 4px;
    z-index: 9999;
    transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
  }
  .sideNav:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--color-text);
    content: '';
    top: 10px;
    border-radius: 4px;
    z-index: 9999;
    transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
  }
}

@keyframes sideNavOpen {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
  }
}
