.container {
  /* padding: 3px 14px; */
  background-color: var(--color-text);
  width: fit-content;
  color: white;
  border-radius: 9px;
  height: 40px;
  vertical-align: center;
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container span {
  font-size: var(--fs-4);
  text-align: center;
  font-weight: 600;
}
