.container {
  background-color: #3c4041;
  width: fit-content;
  border-radius: 9px;
  height: 40px;
  vertical-align: center;
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container a {
  font-size: var(--fs-4);
  text-align: center;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .container a {
    font-size: var(--fs-2);
  }
}

@media (max-width: 567px) {
  .container {
    height: 27px;
    width: 45%;
  }
}
