/* root */
:root {
  /* color */
  --bgcolor-main: #ebebeb;
  --bgcolor-sub: #e4e4e4;
  --color-text: #3c4041;
  --color-accent: #ff3409;

  /* font */
  --font-title: 'Inria Serif', serif;
  --font-logo: 'Mulish', sans-serif;
  --font-text: 'Source Sans Pro', sans-serif;

  /* fontsize */
  --fs-1: 10px;
  --fs-2: 12px;
  --fs-3: 14px;
  --fs-4: 16px;
  --fs-5: 18px;
  --fs-6: 20px;
  --fs-7: 22px;
  --fs-large: 36px;
  --fs-xlarge: 46px;
  /* shadow */
}

.darkMode {
  /* color */
  --bgcolor-main: #020a13;
  --bgcolor-sub: #1b1f24;
  --color-text: #ececec;
}

/************************ CSS reset ***********************/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bgcolor-main);
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  object-fit: cover;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* From : https://www.joshwcomeau.com/css/custom-css-reset/ */

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
