/************************ root ***********************/
:root {
  /* color */
  --bgcolor-main: #ebebeb;
  --bgcolor-sub: #e4e4e4;
  --color-text: #3c4041;
  --color-accent: #ff3409;
  --nav-mobile: rgba(217, 217, 217, 0.9);

  /* font */
  --font-title: 'Inria Serif', serif;
  --font-logo: 'Mulish', sans-serif;
  --font-text: 'Source Sans Pro', sans-serif;

  /* fontsize */
  --fs-1: 10px;
  --fs-2: 12px;
  --fs-3: 14px;
  --fs-4: 16px;
  --fs-5: 18px;
  --fs-6: 20px;
  --fs-7: 26px;
  --fs-8: 30px;
  --fs-large: 60px;
  --fs-xlarge: 86px;
  --fs-text: clamp(10px, 1vw + 10px, 1rem);
  --fs-subtitle: clamp(14px, 1vw + 1rem, 2rem);
  --fs-title: clamp(3rem, 12vw + 1rem, 8rem);
  --fs-title2: clamp(3rem, 12vw + 1rem, 5rem);

  /* shadow */
  --shadow-card: 0px 4px 4px 0px #00000040;

  /* container size */
  --container-height: 101vh;
  --container-padding: 2rem 6rem 2rem 6rem;
  --container-maxwidth: 1600px;
  --container-margin: 0 auto;

  /* logo */
  --logo-weight: 700;
  --logo-spacing: 3px;
}

/************************ common values ***********************/
.container {
  max-width: var(--container-maxwidth);
  height: var(--container-height);
  margin: var(--container-margin);
  padding: var(--container-padding);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent;
  border: none;
  color: white;
}

footer {
  background-color: var(--bgcolor-main);
}

.skillsWrap,
.aboutWrap {
  background-color: var(--bgcolor-sub);
}

.title {
  font-family: var(--font-title);
  font-size: var(--fs-large);
  font-weight: 500;
  font-style: italic;
  padding: 3rem 0;
  text-decoration: underline;
}

/************************ dark mode ***********************/
#dark main,
#dark article,
#dark body,
#dark .footer {
  /* color */
  --bgcolor-main: #020a13;
  --bgcolor-sub: #1b1f24;
  --color-text: #ececec;
  --nav-mobile: rgba(27, 31, 36, 0.9);
}

/************************ responsive ***********************/

@media (max-width: 1200px) {
  .container {
    padding: 1rem 3rem 1rem 3rem;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 1rem 3rem 1rem 3rem;
  }
  .title {
    font-family: var(--font-title);
    font-size: var(--fs-8);
    font-weight: 400;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 600px;
    padding: 0 2rem;
  }
  .title {
    font-family: var(--font-title);
    font-size: var(--fs-8);
    font-weight: 400;
    padding: 3rem 0;
    text-decoration: none;
    text-align: center;
    font-style: normal;
  }
}

/************************ CSS reset ***********************/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bgcolor-main);
  object-fit: cover;
}

.main,
.projectWrap {
  background-color: var(--bgcolor-main);
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* From  https://www.joshwcomeau.com/css/custom-css-reset/ */
