.container {
  color: var(--color-text);
}

.mainWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-bottom: 3rem;
}

.descWrap {
  width: 50%;
}

.descWrap h2 {
  font-size: 5vw;
  font-family: var(--font-title);
  font-weight: 400;
  letter-spacing: -6px;
}

.title {
  font-size: 2vw;
  font-family: var(--font-title);
  font-weight: 400;
  letter-spacing: -1px;
}

.desc {
  margin-top: 1rem;
  line-height: 1.5;
  font-size: 1vw;
}

.photoWrap {
  width: 12vw;
  height: 30vh;
}

.photo {
  object-fit: cover;
  /* width: inherit; */
  height: inherit;
}

@media (max-width: 1000px) {
  .container {
    height: fit-content;
    padding-bottom: 3rem;
  }
  .mainWrap {
    height: fit-content;
    margin-bottom: 1rem;
  }
  .descWrap h2 {
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 5vw;
  }
  .photoWrap {
    width: 20%;
    height: 180px;
  }
  .descWrap {
    width: 70%;
  }
  .title {
    font-size: 18px;
  }
  .desc {
    font-size: 14px;
  }
}

@media (max-width: 567px) {
  .container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }
  .mainWrap {
    flex-direction: column-reverse;
  }
  .descWrap h2 {
    font-size: var(--fs-7);
  }
  .photoWrap {
    width: 30%;
    height: 200px;
  }
  .descWrap {
    width: 90%;
    margin-top: 2rem;
  }
  .descWrap h2 {
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 10vw;
  }

  .title {
    font-size: var(--fs-5);
    font-weight: 400;
    letter-spacing: -1px;
  }

  .desc {
    font-size: var(--fs-2);
    margin-top: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
}
