.arrowUp {
  width: 100%;
  /* color: var(--color-accent); */
  /* text-align: center; */
  /* font-size: 3rem; */
  /* background-color: red; */
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.icon {
  width: 3rem;
  height: fit-content;
}
