.container {
  height: 15rem;
  padding: var(--container-padding);
  max-width: var(--container-maxwidth);
  margin: var(--container-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgcolor-main);
  color: var(--color-text);
}

.logoWrap {
  display: flex;
  flex-direction: column;
}

.logo {
  font-weight: var(--logo-weight);
  letter-spacing: var(--logo-spacing);
}

.list {
  cursor: pointer;
}

.title {
  font-size: var(--fs-2);
}

.email {
  margin-top: 10px;
  font-size: var(--fs-4);
}

.linkWrap {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  /* text-decoration: underline; */
  font-weight: 500;
}

.linkWrap li {
  font-size: var(--fs-7);
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    padding: 9rem 0;
    height: fit-content;
  }
  .logoWrap {
    align-items: center;
  }
  .linkWrap {
    font-weight: 400;
    margin-top: 4rem;
    gap: 45px;
    align-items: center;
    text-decoration: underline;
    flex-direction: column;
  }
}

@media (max-width: 567px) {
  .container {
    height: fit-content;
    flex-direction: column;
    padding: 9rem 0;
  }
  .logoWrap {
    align-items: center;
  }
  .linkWrap {
    font-weight: 400;
    margin-top: 4rem;
    gap: 45px;
    align-items: center;
    text-decoration: underline;
    flex-direction: column;
  }
}
