.wrap {
  background-color: var(--bgcolor-main);
  aspect-ratio: 1/1;
  border-radius: 2px;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-card);
  transition: 0.3s;
  /* padding: 35px 20px; */
  flex-direction: column;
}

.wrap:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.cardImage {
  width: fit-content;
  height: 4rem;
}

.title {
  font-size: var(--fs-2);
  font-family: var(--font-text);
  font-weight: 600;
  color: var(--color-text);
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .cardImage {
    width: fit-content;
    height: 3rem;
  }
}

@media (max-width: 567px) {
  .wrap {
    margin: 1rem 0;
  }
  .cardImage {
    width: fit-content;
    height: 2rem;
  }
  .title {
    font-size: 8px;
  }
}
