.container {
  height: fit-content;
  background-color: var(--bgcolor-main);
}

.title {
  color: var(--color-text);
}

@media (max-width: 479px) {
  .container {
    height: fit-content;
    /* background-color: aqua; */
  }
}
