.container {
  margin-top: 1rem;
  background-color: var(--bgcolor-sub);
  width: fit-content;
  color: var(--color-text);
  border-radius: 10px;
  height: 23px;
  vertical-align: center;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container span {
  font-size: var(--fs-2);
  text-align: center;
  font-weight: 600;
}
